*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.grid:after{
	content: "";
	clear:both;
}


[class *="col_"]{  
	float: left;

}
[class *='col_'] {
	margin-right: 20px;
}
[class *='col_']:last-of-type {
	margin-right: 0;
}

/* 2 column grid structure. */
.col_1of2{
	width: 7%;
	/*margin-right: 16%;*/
}

.col_2of2{
	width: 7%;
	/*margin-right:7%;*/
}

@media (max-width: 430px){
	.col_1of2{

	}
	.col_2of2{

	}
}



/* ---------------- global nav grid -------------------- */

.col_nav_2of4{
	margin-left: 1em;
	width: 15%;
}
.col_nav_3of4{
	width: 15%;
}
.col_nav_4of4{
	width: 20%;
}

@media (max-width: 960px){
	.col_nav_2of4{
		margin-left: 0;
		width: 25%;
	}
	.col_nav_3of4{
		width: 25%;
	}
	.col_nav_3of3{
		width: 25%;
	}
}
@media (max-width: 880px){
	.col_nav_2of4{
		width: 100%;
	}
	.col_nav_3of4{
		width: 100%;
	}
	.col_nav_4of4{
		width: 100%;
	}
}
