*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.grid{
	margin-bottom: 1em;
	margin-top: 0.5em;
}

.grid:after{
	display: table;     
	content: '';     
	clear: both; 
}


[class *="col_"]{  
	float: left;

}

[class *='col_nav']:last-of-type {
	margin-right: 0;
}



/* ---------------- global nav grid -------------------- */
.col_nav_1of4{
	margin-left: -4%;
	width: 15%;
	margin-right: 5%;
}

.col_nav_2of4{
	margin-left: 6%;
	width: 15%;
	margin-right: 5%;
	padding-top: 8.5%;
}
.col_nav_3of4{
	width: 15%;
	margin-right: 7%;
	padding-top: 8.5%;
}
.col_nav_4of4{
	width: 15%;
	padding-top: 8.5%;
}

@media (max-width: 860px){
	.col_nav_1of4{
		margin-left: 0;
		padding-left: 10%;
		width: 10em;
		/*padding-top: 0;*/
	}
	.col_nav_2of4{
		margin-left: 0;
		padding-left: 10%;
		width: 100%;
		padding-top: 0;
	}
	.col_nav_3of4{
		padding-left: 10%;
		width: 100%;
		padding-top: 0;
	}
	.col_nav_4of4{
		padding-left: 10%;
		width: 100%;
		padding-top: 0;
	}
}


/*----------------- grid structure for music player modules --------------------*/

[class *="col_module"]{  
float: left;
margin-bottom: 6%;
}

.col_module_1of3{
	width: 30.65%;
	margin-right: 4%;
}

.col_module_2of3{
	width: 30.65%;
	margin-right: 4%;
}

.col_module_3of3{
	width: 30.65%;
}

/*.col_module_1of3_plus{
	width: 30.65%;
	margin-right: 4%;
}*/


/*grid for profile*/
.col_2-3of_3{
	width: 60%;
	margin-left: 2%;
}

.col_module_1of3 .profile_picture{
	width: 100%;
	height: auto;
}

.pdp_details, .pdp_composer{
	padding-top: 5em;
}




@media (max-width: 820px){
	.col_module_1of3{
		width: 47%;
		margin-right: 6%;
	}
	.col_module_2of3{
		width: 47%;
		margin-left: 0;
		margin-right: 0;
	}
	.col_module_3of3{
		width: 47%;
		margin-right: 2.5%;
	}
	.col_module_1of3_plus{
		width: 47%;
		margin-left: 2%;
	}
	.col_2-3of_3{
		width: 45%;
		margin-left: 2%;
	}
	.pdp_details, .pdp_composer{
	padding-top: 0;
}

}

@media (max-width: 570px){
	.col_module_1of3{
		width: 100%;
	}
	.col_module_2of3{
		width: 100%;
	}
	.col_module_3of3{
		width: 100%;
	}
	.col_module_1of3_plus{
		width: 100%;
	}
	.col_2-3of_3{
		width: 100%;
	}
}


.grid_login{
	max-width: 30%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2%;
	margin-top: 15%;
}

/*----------------- grid structure for footer --------------------*/

.col_footer_1of4{
	/*margin-left: 10%;*/
	width: 15%;
	margin-right: 5%;
}
.col_footer_2of4{
	/*margin-left: 10%;*/
	width: 15%;
	margin-right: 3%;
}
.col_footer_3of4{
	width: 30%;
	padding-top: 3%;
	margin-right: 6%;
}
.col_footer_4of4{
	padding-top: 1%;
	width: 20%;
}

@media (max-width: 860px){
	.col_footer_1of4{
		margin-left: 0;
		padding-left: 10%;
		width: 100%;
	}
	.col_footer_2of4{
		margin-left: 0;
		padding-left: 10%;
		width: 100%;
	}
	.col_footer_3of4{
		padding-left: 10%;
		padding-top: 0;
		width: 100%;
	}
	.col_footer_4of4{
		padding-left: 10%;
		padding-top: 0;
		width: 100%;
	}
}

/*  --------- for toggle on explore.html ---------  */

[class *="col_toggle"]{  
float: left;
margin-bottom: 6%;
}

.col_toggle_1of3{
	width: 20%;
	margin-right: 5%;
	margin-left: 20%;
}

.col_toggle_2of3{
	width: 15%;
	margin-right: 5%;
}

.col_toggle_3of3{
	width: 15%;
}

@media (max-width: 570px){
	.col_toggle_1of3{
		margin-left: 0;
		padding-left: 10%;
		width: 100%;
	}
	.col_toggle_2of3{
		margin-left: 0;
		padding-left: 10%;
		width: 100%;
	}
	.col_toggle_3of3{
		padding-left: 10%;
		padding-top: 0;
		width: 100%;
	}
}
